.banner{
    display:flex;
    flex-direction: row;
}

.left{
    flex:1;
    /* background-color: tomato; */
    padding-left:12%;
}
.right{
    flex: 1;
    /* background-color: violet; */
}

.left-content , .right-content{
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.right-content img{
    height:70vh;
    width:70vh;
    margin-left: 20%;
    max-width:100%;
    
}

.heading{
    /* background-color: yellowgreen; */
    margin-top: 5rem;
    font-size: 5vw;
    align-items: left;
    /* width:90%; */
}
.heading > h5{

    text-align: left;
}

.about{
    /* background-color: steelblue; */
    margin-top:1.5rem;
    width:80%
}
.about > p{
    color:gray;
    text-align: left;
}

.learnbutton{
    margin-top: 1.5rem;
    text-align: left;
}
.learnbutton button{
    border: 1px solid black;
    padding:.5rem;
    width:8rem;
    border-radius:10px;
    font-size: 15px;
}

.images{
    /* display: flex; */
    margin-top: 3rem;
    text-align: left;
}
.images > img{
    margin-left: .8rem;
}


@media  screen and (max-width: 720px) {
.banner{
    display:flex;
    flex-direction: column-reverse;
}
.right .right-content picture > img{
    margin-left:0;
    width:100%;
    height: 80%
}
.about , .heading{
    width: 100%;
}
.left{
    padding-left: 0;
}
.learnbutton{
    text-align: center;
}
.learnbutton button{
    background-color: black;
}
.heading > h5{
    font-size: 8vw;
}
.heading{
    margin-top: 0;
}
.right-content{
    height:unset;
}
.images > img{
width: 3rem;
padding:0;
margin:0;
/* margin-right: 1rem; */
}
/* .body{
    padd
} */
}